* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
} 

/* Header */
header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

/* Main content */
.main-content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Barra de búsqueda */
.search-bar {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  background-color: #f9f9f9;
}

/* Estilo para la lista de pokemones */
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Estilos para las cards */
.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
  background-color: #f1f1f1;
  height: auto; /* La altura será dinámica */
}

/* Nombre en la parte superior de la card */
.card h3 {
  font-size: 1.2rem;
  color: grey;
  background-color: rgba(173, 211, 186, 0.421);
  padding: 15px;
  width: 100%;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

/* Imagen dentro de la card */
.card img {
  width: 100%;
  height: auto; 
  object-fit: cover;
  border-radius: 8px;
  transition: filter 0.3s ease; 
}

/* Efecto hover para la card */
.card:hover {
  transform: scale(1.05);
}

/* Efecto hover: blurear toda la imagen y la información adicional */
.card:hover img {
  filter: blur(5px);
}

.card:hover .card-info {
  opacity: 1;
  visibility: visible;
  filter: blur(0); 
}

/* Información adicional (tipo, altura, etc.) */
.card-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color:  rgba(173, 211, 186, 0.421);
  color: rgb(72, 72, 72);
  padding: 10px;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.card-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.card-info p {
  margin: 5px 0 0;
  font-size: 0.9rem;
}

/* Footer */
footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 1rem;
}
